html
    body
        p Please specify a box ID by adding 
            strong &id=yourID
        p to the end of your URL EG:  
            strong http://seat-skomobo.massey.ac.nz/get?type=arduino&pass=8888888888&id=0 